<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >

<head>

    <div th:insert="fragments/fragmentos::header-principal"/>

    <title>Agregar Proyecto</title>

    <div th:insert="fragments/fragmentos::header-secundario"/>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper" sec:authorize="isAuthenticated()">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:insert="fragments/fragmentos::side-bar"/>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:insert="fragments/fragmentos::barra-sup-body"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Proyectos</h1>
                <div class="card shadow mt-4 mb-4" style="margin-left: 25%;margin-right: 25%;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Agregue un Nuevo Proyecto</h6>
                    </div>


                    <div class="card-body">
                        <div class="container">
                            <form th:action="@{/saveProyecto}" th:object="${proyecto}" method="POST">
                                <label>Nombre Proyecto</label>
                                <input type="text" th:field="*{nombre}" class="form-control mb-4" placeholder="Nombre Proyecto" required/>
                                <label>Gasto Total Estimado/Proyectado</label>
                                <input type="number" th:field="*{gasto_proyectado}" class="form-control mb-4" placeholder="Gasto Total Estimado / Proyectado" />

                                <button type="submit" class="btn btn-primary col-4">Guardar</button>
                                <input type="hidden" th:field="*{id}" />

                            </form>
                    <hr/>
                    <a th:href="@{/proyectos}">Volver</a>
                </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Grupo Bicastro 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
</body>

</html>