<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >

<head>

    <div th:insert="fragments/fragmentos::header-principal"/>


    <title>Detalle OC</title>

    <div th:insert="fragments/fragmentos::header-secundario"/>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper" sec:authorize="isAuthenticated()">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:insert="fragments/fragmentos::side-bar"/>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:insert="fragments/fragmentos::barra-sup-body"/>
            <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800"><p th:text="'Orden de Compra Nro: ' + ${oc.id}"></p></h1>

<!--                    &lt;!&ndash; Adeudado por Cliente  &ndash;&gt;-->
<!--                    <div class="col-xl-3 col-md-6 mb-4">-->
<!--                        <div class="card border-left-success shadow h-100 py-2">-->
<!--                            <div class="card-body">-->
<!--                                <div class="row no-gutters align-items-center">-->
<!--                                    <div class="col mr-2">-->
<!--                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">-->
<!--                                            Total Adeudado a la fecha</div>-->
<!--                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="'USD ' + ${#numbers.formatDecimal(totalAdeudado, 1, 'POINT', 2, 'COMMA')}"></p></div>-->
<!--                                    </div>-->
<!--                                    <div class="col-auto">-->
<!--                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


                    <!-- Total Pactado Cliente -->
                    <div class="row">
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Detalle Orden de Compra</h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small font-weight-bold">Nro OC<span class="float-right"></span></h4>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${oc.id}"></p></div>
                                <h4 class="small font-weight-bold">Fecha<span class="float-right"></span></h4>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${oc.fecha}"></p></div>
                                <h4 class="small font-weight-bold">Creador<span class="float-right"></span></h4>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${oc.usuario_id}"></p></div>
                                <h4 class="small font-weight-bold">Proveedor<span class="float-right"></span></h4>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${oc.proveedor_id}"></p></div>
                                <h4 class="small font-weight-bold">Moneda<span class="float-right"></span></h4>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${oc.moneda}"></p></div>
                                <h4 class="small font-weight-bold">Monto Total<span class="float-right"></span></h4>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${#numbers.formatDecimal(oc.montototal, 1, 'POINT', 2, 'COMMA')}"></p></div>


                            </div>
                        </div>
                        </div>
<!--                        <div class="col-xl-4 col-lg-5">-->
<!--                            <div class="card shadow mb-4">-->
<!--                                <div class="card-header py-3">-->
<!--                                    <h6 class="m-0 font-weight-bold text-primary">Informacion del Cliente</h6>-->
<!--                                </div>-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="small font-weight-bold">Nombre<span class="float-right"></span></h5>-->
<!--                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${cliente.nombre}"></p></div>-->
<!--                                    <h5 class="small font-weight-bold">Direccion<span class="float-right"></span></h5>-->
<!--                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${cliente.domicilio}"></p></div>-->
<!--                                    <h5 class="small font-weight-bold">Telefono<span class="float-right"></span></h5>-->
<!--                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${cliente.telefono}"></p></div>-->
<!--                                    <h5 class="small font-weight-bold">Proyecto<span class="float-right"></span></h5>-->
<!--                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${cliente.obra}"></p></div>-->


<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <!-- Tabla Cliente -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Orden de Compra</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="movimientosTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Detalle</th>
                                            <th>Importe</th>
                                            <th>Proyecto/Obra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ocdet: ${ocdetalle}">
                                        <td th:text="${ocdet.fechaPago}" />
                                        <td th:text="${ocdet.detalle}" />
                                        <td th:text="'$ ' + ${#numbers.formatDecimal(ocdet.importe, 1, 'POINT', 2, 'COMMA')}" />
                                        <td th:text="${oc.obra}" />
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/oc}">Volver</a>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ConstruirApp 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
    <script>
			$(document).ready(function() {
				$("#movimientosTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
	</script>

</body>

</html>